{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'cotton_icon.png' %}">
    <title>PCP</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="{% static 'nucleo_icons.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'black_dashboard.css' %}" rel="stylesheet" type="text/css" />
      <!-- semantic UI -->
      <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
      <!--Chart js-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />
      <!-- jQuery -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  </head>
 

  <body class="">
    <div class="wrapper">
      <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
          <div class="logo">
            <a href="javascript:void(0)" class="simple-text logo-normal">
              &nbsp Predictive Commodity Pricing
            </a>
          </div>
          <ul class="nav">
            <li>
              <a href="{% url 'aboutus' %}">
                <!--i class="tim-icons icon-chart-pie-36"></i-->
                <p>About us</p>
              </a>
            </li>
            <li>
              <a href="{% url 'user' %}">
                <!--i class="tim-icons icon-single-02"></i-->
                <p>User Profile</p>
              </a>
            </li>
            <li>
              <a href="{% url 'regionselect' %}">
                <!--i class="tim-icons icon-pin"></i-->
                <p>New Project</p>
              </a>
            </li>
            
            <li >
              <a href="{% url 'prediction' %}">
                <!--i class="tim-icons icon-puzzle-10"></i-->
                <p>Prediction</p>
              </a>
            </li>
            <li class="active">
              <a href="{% url 'history' %}">
                <!--i class="tim-icons icon-align-center"></i-->
                <p>History</p>
              </a>
            </li>
          </ul>
        </div>
        </div>
        <div class="main-panel">
          <!-- Navbar -->
          <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
              <div class="navbar-wrapper">
                <div class="navbar-toggle d-inline">
                  <button type="button" class="navbar-toggler">
                    <span class="navbar-toggler-bar bar1"></span>
                    <span class="navbar-toggler-bar bar2"></span>
                    <span class="navbar-toggler-bar bar3"></span>
                  </button>
                </div>
                <a class="navbar-brand" href="javascript:void(0)">History</a>
              </div>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
                <span class="navbar-toggler-bar navbar-kebab"></span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav ml-auto">
                  <li class="search-bar input-group">
                    <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                      <span class="d-lg-none d-md-block">Search</span>
                    </button>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                      <div class="photo">
                        <img src="{% static 'user.png' %} " alt="Profile Photo">
                      </div>
                      <b class="caret d-none d-lg-block d-xl-block"></b>
                      <p class="d-lg-none">
                        Log out
                      </p>
                    </a>
                    <ul class="dropdown-menu dropdown-navbar">
                      <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                      <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                      <li class="dropdown-divider"></li>
                      <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                    </ul>
                  </li>
                  <li class="separator d-lg-none"></li>
                </ul>
              </div>
          </nav>
          <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="tim-icons icon-simple-remove"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="content">
            <div class="row">
              <div class="col-12">
                <div class="card card-chart">
                  <div class="card-header " style="padding-bottom: 15px">
                    <h5 class="card-category">HISTORY</h5>
                    <h2 class="card-title">PAST PREDICTIONS</h2>
                    {% for k in data%}
                    <div class="row">
                      <div class="col-sm-12 text-left">
                         
                        <div class="form-group" style="text-transform:capitalize">
                       
                        <form method="post" action="{% url 'hisdata' hs=k.idn  %}" >
                            {% csrf_token %}
                            
                              <!-- <div class="form-group" style="text-transform:capitalize"> -->
                                <span style="margin-left: 15px"> Area - {{ k.area}}  </span>
                                <span class="ft" style="margin-left: 15px"> Commodity - {{ k.commod}} </span>
                                <span class="ft" style="margin-left: 15px">Region - {{ k.region}}</span>
                                <span class="ft" style="margin-left: 15px">Date - {{ k.daten}}</span>
                                <button type='submit'class="btn btn-fill btn-primary" style="margin-left: 15px" >Predict again</button>
                                
                                <button type='button'class="btn btn-fill btn-primary" style="margin-left: 15px" onclick=" location.href='{% url "hisdel" hs=k.idn %}' " >Delete</button>
                            <!-- </div> -->
                            </form>
                          
                            <!-- <form action="{% url 'hisdel' hs=k.idn %}">
                             
                              <button type='submit'class="btn btn-fill btn-primary" style="margin-left: 15px" >Delete</button>
                              
                            </form> -->
                           
                            <hr>
                          </div>
                      </div>
                 
                    </div>
                    {% endfor %}
                  </div>
                 
                </div>
              </div>
            </div>
            <div class="row">
              
               
          
</body>
